.modal-win {
	// display: block;
	width: 100%;
	position: relative;

	background: #FFFFFF;
	border-radius: 18px;

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

//modal-win sm
.modal-win{
	padding: 40px 0 20px 0;
	@include media-breakpoint-up(sm){
		padding: 40px 0;
	}

	&--sm{
		width: 440px;
		max-width: 100%;
		@include media-breakpoint-up(sm){
			max-width: 440px;
		}

		.form-wrap{
			&__img{
				width: 80px;
				height: 80px;
				margin: 0 auto 23px auto;
			}

			&__cont{
				padding: 0 10px;
				width: 300px;

				margin: 0 auto;
			}
			&__title{
				font-family: $mono;
				font-weight: bold;
				margin-bottom: 20px;

				font-size: 20px;
				line-height: (25/20);
				@include media-breakpoint-up(sm){
					font-size: 24px;
					line-height: (29/24);
				}

				color: $body-color2;
			}
			.after-headline{

			}

			&__input{
				padding: 12px 9px;
				text-align: center;
			}
			&__input-wrap{
				margin-bottom: 20px;
			}
			&__btn{
				@extend .btn;
				@extend .btn-danger;
				width: 100%;
				margin-bottom: 15px;
			}
			//.checkbox
			.checkbox{
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				text-align: left;
			}

			//lower link
			.lower-link{
				color: $teal;
				text-decoration: underline;
				&:hover{
					color: rgba($teal, .7);
					text-decoration: none;
				}
			}

			&__{}
			&__{}
			&__{}
		}
	}
}

//prod card
.modal-win{
	&--lg{
		padding: 0!important;
		max-width: calc(100vw - 20px);
		@include media-breakpoint-up(sm){
			max-width: 500px;
		}
		@include media-breakpoint-up(lg){
			max-width: 900px;
		}
		@include media-breakpoint-up(xl){
			max-width: 1000px;
		}
	}
}

.prod-card{
	display: flex;
	flex-direction: column-reverse;
	@include media-breakpoint-up(lg){
		flex-wrap: nowrap;
		flex-direction: row;
	}

	&__txt-bl{
		padding: 30px 20px;
		@include media-breakpoint-up(lg){
			width: 350px;
		}
		@include media-breakpoint-up(xl){
			width: 400px;
			padding: 40px 40px 35px 40px;
		}
		background-color: $light2;
		border-radius: 30px 0 0 30px;
	}
	&__title{
		font-family: $mono;
		font-weight: bold;

		font-size: 16px;
		line-height: (20/16);
		margin-bottom: 10px;
		@include media-breakpoint-up(sm){
			font-size: 20px;
			line-height: (25/20);
			margin-bottom: 20px;
		}
		@include media-breakpoint-up(xl){
			font-size: 24px;
			line-height: (29/24);
		}
	}
	//
	&__descr-bl{
		display: flex;
		justify-content: space-between;
	}
	&__descr{
		color: rgba($body-color, .5);

		margin-bottom: 20px;
		@include media-breakpoint-up(sm){
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 40px;
		}
	}
	&__weight{
		flex-shrink: 0;
		margin-left: 5px;
		width: 60px;

		font-size: 14px;
		line-height: (17/14);
		text-align: right;

		color: rgba(66, 95, 96, 0.3);
	}
	//size-bl
	&__size-bl{
		margin-bottom: 20px;
		@include media-breakpoint-up(xl){
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

	}
	&__size-txt{
		line-height: 1.5;

		margin-bottom: 20px;
		@include media-breakpoint-up(xl){
			margin-bottom: 0;
		}
	}
	.s-radio-cont{
		width: auto;
		padding: 5px;
		@include media-breakpoint-up(xl){
			width: auto;
			margin-left: 15px;
			padding: 0;
		}

		&__s-radio{
			@include media-breakpoint-down(xl){
				display: block;
				width: 50%;
			}

			span{
				@include media-breakpoint-down(xl){
					display: block;
					width: 100%;
				}
			}
		}
	}
	&__price{
		font-family: $mono;
		font-weight: bold;

		font-size: 20px;
		line-height: (23/20);

		margin-bottom: 20px;
		@include media-breakpoint-up(sm){
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 50px;
		}
	}
	&__to-cart-btn{
		@extend .btn-red-empty-frame;
		margin-top: auto;
		width: 100%;
		border-radius: 7px;
	}

	//img-cont
	&__img-cont{
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 90%;
			max-height: 90%;
		}
	}

	&__{}
}


//.p-half
.p-half{
	@include media-breakpoint-up(lg){
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		padding-right: 20px;
	}

	&__controll-bl{
		flex-shrink: 0;
		width: 100%;
		@include media-breakpoint-up(lg){
			width: 380px;
		}

		padding: 30px 20px;
		@include media-breakpoint-up(xl){
			padding: 40px 20px 35px 40px;
		}
		background-color: $light2;
		//border-radius: 30px 0 0 30px;
	}
	&__title{
		font-family: $mono;
		font-weight: bold;

		font-size: 20px;
		line-height: (25/20);
		margin-bottom: 10px;
		@include media-breakpoint-up(xl){
			font-size: 24px;
			line-height: (29/24);
			margin-bottom: 15px;
		}
	}
	//half img

	.pizza-def-img{
		opacity: 0;
		@include mt();
		&.active{
			opacity: 1;
		}
	}
	&__img-cont{
		position: relative;
		height: 200px;

		display: flex;
		align-items: center;
		justify-content: center;

		.replaced-svg{
			width: 170px!important;
			height: 170px!important;
			path{
				fill-opacity: .3!important;
				fill: $body-color !important;
			}
		}
	}
	&__default-img{
		img{

		}
	}
	//halfs
	&__half{
		@include mt();
		opacity: 0;
		&.active{
			opacity: 1;
		}
		position: absolute;
		z-index: 2;
		top: 0;
		width: 50%;
		height: 100%;
		overflow: hidden;

		&--left{
			left: 0;
		}
		&--right{
			right: 0;
			.p-half__half-img{
				transform: translateX(-50%);
			}
		}
	}

	&__half-img{
		width: 200%;

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}

	//size
	.prod-card__size-bl{

	}
	.prod-card__size-txt{

	}
	.s-radio-cont{
		width: auto;
		padding: 5px;
		@include media-breakpoint-up(xl){
			width: auto;
			margin-left: 15px;
			padding: 0;
		}

		&__s-radio{
			@include media-breakpoint-down(xl){
				display: block;
				width: 50%;
			}

			span{
				@include media-breakpoint-down(xl){
					display: block;
					width: 100%;
				}
			}
		}
	}
	//chose-btns
	&__chose-btns{
		display: flex;
		flex-wrap: wrap;

		align-items: stretch;
		justify-content: space-between;

		margin-bottom: 15px;
		@include media-breakpoint-up(sm){
			margin-bottom: 20px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 30px;
		}
	}
	&__chose-btn{
		display: block;
		@include mt();
		width: calc(50% -	10px);

		background: $white;
		border-radius: 8px;

		border: 1px solid $white;
		&.empty:hover{
			border: 1px solid $body-color;
			box-shadow: 0 0 12px -4px rgba($body-color, .5);
			.replaced-svg{
				path{
					fill-opacity: 1!important;
					fill: $danger !important;
				}
			}
			.p-half__ch-txt{
				color: rgba($body-color, .7);
			}
		}

		padding: 20px 12px;
		@include media-breakpoint-up(sm){
			padding: 20px;
		}

		.replaced-svg{
			@include mt();
			width: 70px!important;
			height: 70px!important;

			path{
				fill-opacity: .3!important;
				fill: $body-color !important;
			}
		}


		&:first-child .p-half__ch-img:after{
			right: 0;
		}
		&:last-child .p-half__ch-img:after{
			left: 0;
		}

	}
	&__ch-img{
		position: relative;
		display: block;
		width: 70px;
		height: 70px;
		margin: 0 auto 10px auto;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}

		&.active:after{
			content: '';
		}

		&:after{
			position: absolute;
			z-index: 1;
			top: 0;
			width: 50%;
			height: 100%;
			background: rgba($white, .9);
		}
	}
	&__ch-txt{
		@include mt();
		display: block;
		text-align: center;
		line-height: 17px;

		&:not(.active){
			font-weight: 500;
			font-size: 12px;
			color: rgba($body-color, .4);
		}
		&.active{
			font-family: $mono;
			font-weight: bold;
			font-size: 14px;
			color: $body-color;
		}

	}

	.prod-card__result-txt{

	}
	.prod-card__to-cart-btn{

	}
	//nav-bl
	&__nav-bl{
		align-self: flex-end;
		flex-grow: 1;
		padding: 20px;

		@include media-breakpoint-up(lg){
			height: 600px;
			max-height: 90vh;
			margin: 25px 0 0 0;
			overflow-y: auto;
		}

		@extend .custom-scroll-frame;
	}
	&__row{
		@include roww(20px);
	}
	&__col{
		padding-bottom: 20px;
		@include media-breakpoint-up(sm){
			padding-bottom: 30px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 40px;
		}
	}

	&__food-item{
		display: flex;
		flex-direction: column;
		justify-content: center;

		color: $body-color;
		&:hover{
			color: $danger;
			img{
				transform: scale(1.1);
			}
		}

		font-size: 14px;
		line-height: (17/17);
		text-align: center;
	}
	&__f-img{
		max-width: 100%;
		width: 100px;
		height: 100px;
		margin: 0 auto 10px auto;
		img{
			@include mt();
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__f-name{
		display: block;
		margin-bottom: 5px;
		font-family: $mono;
		font-weight: bold;
	}
	&__f-price{
		color: rgba($body-color, .5);
	}
	&__{}
	&__{}
	&__{}
}