mixin sActions(data)
	// start sActions
	+b.SECTION.sActions.section#sActions&attributes(attributes)
		.container
			+b.section-title
				h1 Акции
			+e.row.row
				+ActionItem(1, 'Выбери свой размер', 'Акция действует до 31 декабря 2020 г.')
				+ActionItem(2, 'Торт в подарок в день рождения', 'Акция действует до 31 декабря 2020 г.')
				+ActionItem(1, 'Выбери свой размер', 'Акция действует до 31 декабря 2020 г.')
				+ActionItem(2, 'Торт в подарок в день рождения', 'Акция действует до 31 декабря 2020 г.')
				+ActionItem(1, 'Выбери свой размер', 'Акция действует до 31 декабря 2020 г.')
				+ActionItem(2, 'Торт в подарок в день рождения', 'Акция действует до 31 декабря 2020 г.')
	// end sActions

mixin ActionItem(imgNum, title, txt)
	+e.col.col-12.col-md-6
		+e.item(href="#")
			+e.img
				img(loading="lazy" src=`img/@2x/action-item-${imgNum}.png` alt="")
			+e.descr
				+e.txt-bl
					+e.title=title
					+e.txt=txt
				+e.btn Подробнее