$default-font: "TT Norms";
$mono: "Co Headline Corp";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2 woff;
//$file-format: ttf;

//def
@include font-face ($default-font, $addr + "TTNorms-Regular/TTNorms-Regular", 400, $file-formats: $file-format);

//mono
@include font-face ($mono, $addr + "CoHeadlineCorp-Light/CoHeadlineCorp-Light", 300, $file-formats: $file-format);
@include font-face ($mono, $addr + "CoHeadlineCorp-Regular/CoHeadlineCorp-Regular", 400, $file-formats: $file-format);
@include font-face ($mono, $addr + "CoHeadlineCorp-Bold/CoHeadlineCorp-Bold", 700, $file-formats: $file-format);

// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold