// start .headerBlock
.headerBlock {
	--sPT: 10px;
	--sPB: 20px;
	@include media-breakpoint-up(lg){
		--sPT: 0px;
		--sPB: 20px;
	}

	.container{
		@include media-breakpoint-down(lg){
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__slider{
		.swiper-container{
			overflow: visible;
		}
		.swiper-wrapper{

		}
		.swiper-slide{

		}

		margin-bottom: 17px;
		@include media-breakpoint-up(lg){
			margin-bottom: 17px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 30px;
		}
	}
	&__link{
		display: block;
		position: relative;
		height: 0;
		width: 100%;

		padding-top: 50%;
		@include media-breakpoint-up(sm){
			padding-top: (400/1400) * 100%;
		}
	}
	&__img{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		overflow: hidden;

		border-radius: 10px;
		@include media-breakpoint-up(lg){
			border-radius: 30px;
		}
		@include mt();
		&:hover{
			filter: brightness(1.02);
		}

		img{
			width: 100%;
			height: 100%;
		}
	}
	//
	&__menu-slider{
		margin-bottom: rem(45);
		position: relative;
		.swiper-container{
			margin: 0 -5px;
			padding: 0 5px;
		}
		.swiper-wrapper{}

		.swiper-slide{
			min-width: 64px;
			width: calc((100% / 5) - (10px * 4 / 5));
			@include media-breakpoint-up(sm){
				width: calc((100% / 6) - (10px * 5 / 6));
			}
			@include media-breakpoint-up(md){
				width: calc((100% / 7) - (10px * 6 / 7));
			}
			@include media-breakpoint-up(lg){
				width: calc((100% / 9) - (25px * 8 / 9));
			}
			@include media-breakpoint-up(xxl){
				width: calc((100% / 9) - (40px * 8 / 9));
			}
		}
		//prev, next
		.menu-prev,
		.menu-next{
			cursor: pointer;
			outline: none!important;
			border: none!important;
			box-shadow: none!important;

			display: block;
			width: 10px;
			height: 20px;
			position: absolute;
			z-index: 10;
			top: 40px;

			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}

			@include mt();
			opacity: .1;
			&:hover{
				opacity: 1;
				transform: scale(1.1);
			}
		}

		.menu-prev{
			right: calc(100% + 37px);
		}
		.menu-next{
			left: calc(100% + 37px);
		}

	}
	&__m-link{
		display: block;
		color: $body-color;
		&:hover{
			color: $red;
			.headerBlock__m-img{
				border: 1px solid rgba($body-color, 1);
			}
			//
			.img-svg-js{
				path{
					fill-opacity: 1!important;
					fill: $red !important;
				}
			}
			.headerBlock__m-name{
				text-shadow: 0 0 .5px rgba($red, .6);
			}
			//
		}

	}
	&__img-cont{
		display: block;
		position: relative;
		width: 100%;
		padding-top: 100%;
		height: 0;

		margin-bottom: 7px;
		@include media-breakpoint-up(xl){
			margin-bottom: 10px;
		}
	}
	&__m-img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		@include mt();
		background: $white;
		border-radius: 15px;
		border: 1px solid rgba($body-color, .8);

		.img-svg-js{
			max-width: 90%;
			max-height: 90%;
			width: 60%;
			height: auto;

			path{
				@include mt();
				fill-opacity: 0.8!important;
				fill: $danger !important;
			}
		}
	}
	&__m-name{
		display: block;
		@include mt();

		text-shadow: 0 0 .5px rgba($body-color, .6);

		font-size: 10px;
		line-height: (12/10);
		@include media-breakpoint-up(lg){
			font-size: 11.1335px;
			line-height: (13/11.13);
		}
		@include media-breakpoint-up(xl){
			font-size: 14px;
			line-height: (21/18);
		}
		@include media-breakpoint-up(xxl){
			font-size: 18px;
		}
		color: currentColor;
	}

	//.tags-slider
	&__tags-slider{
		.swiper-container{
			@include media-breakpoint-down(lg){
				overflow: visible!important;
			}
		}
		.swiper-wrapper{
			@include media-breakpoint-up(lg){
				flex-wrap: wrap!important;
				align-items: stretch;
				transform: none!important;
				gap: 12.37px;
			}

			@include media-breakpoint-up(xl){
				gap: 15px;
			}
			@include media-breakpoint-up(xxl){
				gap: 20px;
			}
		}
		.swiper-slide{
			width: auto;
			height: auto;
		}
	}
	&__tags-link{
		height: 100%;
		display: flex;
		align-items: center;

		@extend .btn-red-empty-frame;

		.img-svg-js{
			width: auto;
			height: auto;
			max-width: 20px;
			path{
				@include mt();
				fill: $red!important;
			}
		}

		&:hover,&.active, &:focus, &:active{
			.img-svg-js{
				path{
					fill: $white!important;
				}
			}
		}

		span{
			margin-left: 5px;
			font-size: 16px;
			line-height: 1;
		}

		&.active{}
	}
	&__{}
}

// end.headerBlock


.simple-mnu{
	padding-bottom: rem(40);

	//row
	&__title{
		//font-weight: bold;
		letter-spacing: 0.02em;
		font-family: $mono;
		line-height: (49/40);

		font-size: 20px;
		@include media-breakpoint-up(lg){
			font-size: 24.7411px;
		}
		@include media-breakpoint-up(xl){
			font-size: 35px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 40px;
		}

		color: $body-color2;

		margin-bottom: rem(40);
	}
	&__row{

	}
	&__col{

	}
	&__item{
		position: relative;
		margin-bottom: rem(8);
		&:before{
			display: inline-block;
			content: '';
			width: rem(10);
			height: rem(10);
			border-radius: 50%;
			background-color: $red;
			margin-right: rem(10);
		}

		display: flex;
		align-items: center;

		font-weight: bold;
		color: $body-color;
		&:hover{
			color: $red;
		}
	}
	&__{}
	&__{}
	&__{}
}