mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider
				.swiper-container.baner-slider-js
					.swiper-wrapper
						+headerSlider()
						+headerSlider()
						+headerSlider()
			+e.menu-slider
				+b.menu-prev--js.d-none.d-lg-flex
					img(loading="lazy" src="img/svg/chevron-left.svg" alt="")
				+b.menu-next--js.d-none.d-lg-flex
					img(loading="lazy" src="img/svg/chevron-right.svg" alt="")
				.swiper-container.menu-slider-js
					.swiper-wrapper
						+menuSlide(1)
							| Итальянская кухня
						+menuSlide(2)
							| Японская
							br
							| кухня
						+menuSlide(3)
							| Паназиатская
							br
							| кухня
						+menuSlide(4)
							|Европейская кухня
						+menuSlide(5)
							| Фитнес
							br
							| меню
						+menuSlide(6)
							|Национальная кухня
						+menuSlide(7)
							| Бургеры и
							br
							| шаурма
						+menuSlide(8)
							| Блюда на
							br
							| мангале
						+menuSlide(9)
							|Горячие напитки
			//changes here #/2/#
			// добавил бллок и свгшки img/svg/tags-slide-icon-${от 1 до 9}.svg
			+b.simple-mnu
				+e.H4.title Меню
				+e.row.row
					+e.col.col-6.col-sm-6.col-md-3
						+e.item(href="#") Собери Комбо
						+e.item(href="#") Бургеры
						+e.item(href="#") Напитки
					+e.col.col-6.col-sm-6.col-md-3
						+e.item(href="#") Пицца
						+e.item(href="#") Блюда на мангале
						+e.item(href="#") Торты на заказ
					+e.col.col-6.col-sm-6.col-md-3
						+e.item(href="#") Суши
						+e.item(href="#") Детское меню
						+e.item(href="#") Обеды
					+e.col.col-6.col-sm-6.col-md-3
						+e.item(href="#") WOK
						+e.item(href="#") Десерты
						+e.item(href="#") Поке Боул
			+e.tags-slider
				.swiper-container.tags-slider-js
					.swiper-wrapper
						+tagsSlide(1, 'Лучшее')(class="active")
						+tagsSlide(2, 'Острое')
						+tagsSlide(3, 'Веган')
						+tagsSlide(4, 'Рыба')
						+tagsSlide(5, 'Мясо')
						+tagsSlide(6, 'Курица')
						+tagsSlide(6, 'Курица')
						+tagsSlide(7, 'Наборы')
						+tagsSlide(8, 'Без грибов')
						+tagsSlide(9, 'Без свинины')
	// end headerBlock

mixin headerSlider()
	.swiper-slide
		+e.link(href="#")
			+e.PICTURE.img
				source.swiper-lazy(srcset="#" data-srcset=`img/@2x/header-slide-1-xl.png` type="image/png" media="(min-width:576px)")
				img.swiper-lazy(src="#" data-src=`img/@2x/header-slide-1-sm.png` alt="")

mixin menuSlide(imgNum)
	.swiper-slide
		+e.m-link(href='#')
			+e.img-cont
				+e.m-img
					img.img-svg-js(loading="lazy" src=`img/svg/menu-slide-${imgNum}.svg` alt="")
			+e.m-name
				block

mixin tagsSlide(imgNum, txt)
	.swiper-slide
		+e.tags-link(href='#')&attributes(attributes)
			img.img-svg-js(src=`img/svg/tags-slide-icon-${imgNum}.svg` alt="")
			span=txt