extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sKitchen/_sKitchen.pug
include ../blocks/sLike/_sLike.pug
include ../blocks/sBaners/_sBaners.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		+menuLine()
		+profilePopUp()
	+headerBlock()
	//index-alt.html остаеться не актуальним с етого момента
	//changes here #/1/#
	+sKitchen('Итальянская кухня')
	//end changes here #/1/#
	+sKitchenJap('Японская кухня')
	+sLike()
	+sBaners()
	+footer()