mixin sDelivery(data)
	// start sDelivery
	+b.SECTION.sDelivery.section#sDelivery&attributes(attributes)
		.container
			+b.section-title
				h1 Доставка
				p
					| Все заказы у нас доставляются бесплатно. Доставка работает ежедневно с 09:00 до 23:50.
					| Минимальная сумма заказа по Севастополю — от 500 рублей с учетом всех скидок.
			+e.img-title Карта районов доставки
			+e.row.row
				.col-lg-8
					+e.img(href="img/@2x/zone-img.png" data-fancybox="zoneImg")
						img(loading="lazy" src="img/@2x/zone-img.png" alt="")
					+zoneList()(class="d-lg-none")
					+e.payment-title Как оплатить заказ
					+e.payment-bl
						h4 Банковской картой
						ul
							li Оплата картой онлайн на сайте
							li Оплата банковской картой через терминал курьера
						p Для выбора оплаты заказа с помощью банковской карты на соответствующей странице необходимо нажать кнопку «Оплатить сейчас банковской картой». Оплата происходит через ПАО Сбербанк с использованием банковских карт следующих платежных систем:
						+e.pay-img
							img(loading="lazy" src=`img/@2x/paymnet-img2.png` alt="")
						p Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.
						p В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование.
						p Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.
					+e.payment-bl
						h4 Наличными курьеру
						ul
							li Наличными курьеру при получении заказа
						p Если вам потребуется размен, укажите это при оформлении заказа на сайте или предупредите об этом оператора при оформлении заказа по телефону.
				.col-lg-4.d-none.d-lg-block
					+zoneList()
	// end sDelivery

mixin zoneList()
	+e.UL.zone-list&attributes(attributes)
		+zoneListItem(1, '500 руб', '#E45363')
		+zoneListItem(1, '600 руб', '#17a2b8')
		+zoneListItem(1, '1000 руб', '#ffc107')
		+zoneListItem(1, undefined, '#425F60')
			|Заказы в данные
			br
			| районы не доставляем

mixin zoneListItem(num, price,dotBg)
	+e.LI.z-item
		+e.z-dot(style=`background-color: ${dotBg}`)
		+e.z-title=`Зона доставки ${num}`
		+e.z-content
			if price
				+e.z-price=price
			+e.z-info
				if block
					block
				else
					| Минимальная
					br
					| сумма заказа